{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% import 'translations.html' as translations with context %}

	<ul>
		<li>{% trans %}Explore the press with no middlemen between the newspapers and your web browser.{% endtrans %}</li>
		<li>{% trans %}Discover millions of results within seconds and explore the last ones in <b>Firefox</b> via this <b>addon</b>.{% endtrans %}</li>
		<li>{% trans %}Schedule searches, select your press review and export it in a few clicks.{% endtrans %}</li>
	</ul>

<center><h2>***</h2></center>

{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
    <article class="uk-article no-top-margin">
			<a href="{{SITEURL}}/{{ article.url }}" class="">{{ article.title }}</a>
        <span class="uk-article-meta">
            <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">
				{{ article.locale_date }}
			</time>
        </span>
    </article>
{% endfor %}
{% include "pagination.html" %}
{% endif %}
<a rel="me" href="https://pouet.chapril.org/@metapress" style="display:none">Mastodon</a>
{% endblock %}
